
body{
	margin:0;
    padding:0;
    background: url('images/parallax2.jpg') repeat scroll;
    background-size: 100%;
    width: 100%;
    font-family: 'Roboto', helvetica;
    font-weight: 300;

}

*:not(.correction),
*:not(.correction):after,
*:not(.correction):before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.tri .main #Grid .mix{
    display: none;
    opacity: 0;
/*    width: 200px;
    height: 200px;
    vertical-align: top;
    margin-bottom: 20px;
    background: #ccc;
    color: #fff;

    font-size: 30px;
    text-align: center;
    line-height: 200px;*/
}

#container #Grid #cat1 {
    background-color: red;
}

#container #Grid #cat2 {
    background-color: blue;
}

#container #Grid #cat3 {
    background-color: green;
}
 
header, #contact{

    width: 100%;

}


#container, #contenu-barre-superieure, #menu, #bloc-contact{

    width: 960px;
    margin: auto;

}


header img{

    position: absolute;
    top: 0px;
    left:0;
    height: 135px;
    z-index: 100;

}

#barre-superieure{

    background: url("images/degrade.png") repeat-x;

    background-color: #890000;
    height: 60px;
    box-shadow: 10px 10px 5px #888888;
    

}

#barre-superieure span{

    text-align: center;
    padding-right: 156px;
    font-size: 26px;
}

#barre-superieure .barre-superieure-bouton{

    color: #890000;
    background-color: white;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 17px;


}

#barre-superieure .barre-superieure-bouton:hover{

    background-color: #f7f7f7;






}

#barre-superieure .barre-superieure-bouton a{

    color: #890000;


}


#contenu-barre-superieure{

    color: white;
    text-align: right;
    font-size: 20px;
    padding-top: 18px;
    position: relative;

}


nav{

padding: 15px 0;
background-color: white;
text-align: center;
width: 100%;
z-index:99;


}






nav ul{


padding:0;
padding-left: 150px;
margin:0;
width: 560px;
font-size: 33px;
display: inline-block;
font-family: 'Yanone Kaffeesatz';


}



nav form {
    display: inline-block;

}

nav form input{
text-align: right;

}


nav ul li{

    display:inline;
    padding: 15px 50px;
}
nav ul li:hover{

    background-color: #e3e3e3;

}
nav ul li a{

    text-decoration: none;
    color: #890000;
}

nav ul li a:hover{


}





/*SLIDER : INTEGRATION DES AFFICHES */


#slider{

    height: 403px;
    margin:0;
    background-color: white;
    border-bottom: 10px solid #890000;
    border-top: 1px solid #890000;
  
}


    
    #slider li {
        width:260px;
        height:400px;
        overflow:hidden;
        float:left;
    }
    
    #slider p {
        height:150px;
        padding:0 10px;
        opacity:.7;
        color:#fff;
        background:#000;
        -webkit-transition: margin-top .2s ease-out;
        -moz-transition: margin-top .2s ease-out;
        transition: margin-top .2s ease-out;
    }
    
    #slider li:hover p {
        margin-top:-150px;
    }





#container .controls li{
    display: inline-block;
}

.bloc-container{

    width:inherit;
    background-color: rgb(200,200,200);
    margin: 50px 0;
}



/*#container #Grid .mix{
    display: none;
    opacity: 0;
    width: 180px;
    height: 180px;
    vertical-align: top;
    margin-bottom: 20px;
    background: #ccc;
    color: #fff;

    font-size: 30px;
    text-align: center;
    line-height: 200px;
}
*/
#container #Grid #cat1 {
    background-color: red;
}

#container #Grid #cat2 {
    background-color: blue;
}

#container #Grid #cat3 {
    background-color: green;
}

.filter{
    margin: 40px 40px 10px 0px;
    background-color: #890000;
    padding: 10px 10px;
    border-radius: 4px;
    color: white;
    font-size: 19px;


}

.filter-first{

    margin-left: 60px;
}

.filter:hover{

        background-color: #a70101;
        background-image:url("images/degrade.png");
        cursor: pointer;

}



#contact-gauche{

    width: 450px;
    margin-right: 60px;
    float: left;

}


#contact-droit{

    width: 450px;
    float: left;



    
}


a{
    text-decoration: none;
}

#contact{
background-color: #890000;
width: 100%;
height: 500px;
color: white;
padding-top: 10px;
box-shadow: 0px 0px 6px #000;
}

#contact input{
      
width: 218px;     
height: 37px;     
-webkit-border-radius: 3px/4px;     
-moz-border-radius: 3px/4px;     
border-radius: 3px/4px;     
background-color: rgba(255,255,255,0);     
border: solid 2px #fff; 
color: white;
font-size: 17px;

}

#contact textarea{
      
width: 400px;     
height: 150px;     
-webkit-border-radius: 3px/4px;     
-moz-border-radius: 3px/4px;     
border-radius: 3px/4px;     
background-color: rgba(255,255,255,0);     
border: solid 2px #fff; 
color: white;
font-size: 17px;

}


footer{


    border-top: 1px solid #5c5c5c;
    height: 50px;
    text-align: center;
    background-color: #323232;
}

footer ul{

    padding-top: 15px  !important;
}

footer ul li{

    display:inline;
    padding: 0 20px;
    color:white;
    padding-right: 25px !important;
}
